<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="field"> 
    <%= f.label :full_name,class:"label"%>
    <div class="control">
    <%= f.text_field :full_name,class:"input" %>
    </div>
  </div>
    <div class="field"> 
    <%= f.label :bio,class:"label"%>
    <div class="control">
    <%= f.text_field :bio,class:"input" %>
    </div>
  </div>
  <div class="field"> 
    <%= f.label :birth_date,class:"label"%>
    <div class="control">
    <%= f.date_field :birth_date,class:"input" %>
    </div>
  </div>
  
  <label class="label">Profile picture </label>

    <div class="file"> 
    
    <div class="file is-info has-name">
    <%= f.label :picture,class:"file-label"  do %>
    <div class="control">
    <%= f.file_field :picture,class:"file-input" %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    </div>
      <span class="file-name">
       
      </span>
    <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email,class:'label' %>
    <div class="control">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class:'label' %> 
    <p class="help">(leave blank if you don't want to change it)</p>
    <div class="control">
    <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:'label' %>
    <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password, class:'label' %> 
    <p class="help">(we need your current password to confirm your changes)</p>
    <div class="control">
    <%= f.password_field :current_password, autocomplete: "current-password", class:'input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>