<div class="columns is-mobile">
  <div class="column is-3"> </div>
  <div class="column is-6">
    <h2 class="title is-2">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class:"ui form")  do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email,class:"label" %><br />
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password,class:"label"%>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password",class:"input"%>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation,class:"label" %><br />
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :full_name,class:"label"%>
        <div class="control">
          <%= f.text_field :full_name,class:"input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :bio,class:"label"%>
        <div class="control">
          <%= f.text_field :bio,class:"input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :birth_date,class:"label"%>
        <div class="control">
          <%= f.date_field :birth_date,class:"input" %>
        </div>
      </div>
      <label class="label">Profile picture </label>
      <div class="file" >
        <div class="file is-info has-name">
          <%= f.label :picture,class:"file-label"  do %>
            <div class="control">
              <%= f.file_field :picture,class:"file-input" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </div>
            <span class="file-name">
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <br/>
      <%= f.submit "Sign up",class:"button is-link" %>
    </div>
  <% end %>
  <br/>
  <%= render "devise/shared/links" %>
</div>
<div class="column is-3"> </div>
</div>
