<!-- backgorund -->
<div>
  <% if @sub_reddit.background_picture.attached? %>
  <%=  image_tag @sub_reddit.background_picture, 
  class:'backgroung-img', alt:'subreddit picture' %>
<% end %>

</div>
<div class="row m-3">
  <h2 class="card-title shift-down-spacer">
  	<%= @sub_reddit.title %>
  	<% unless @status == nil  %>
			<% if @status == 'accepted' %>
				<%= link_to("Leave Community", sub_reddit_leave_path(@sub_reddit),method:'POST', class:'btn btn-sm btn-outline-danger') %>
			<% end %>

			<% if @status == 'pending' %>
			<%= link_to("Cancel Request", sub_reddit_leave_path(@sub_reddit),method:'POST', class:'btn btn-sm btn-outline-warning')  %>
			<% end %>
		<% else %>
	<%= link_to("Join", sub_reddit_join_path(@sub_reddit),method:'POST', class:'btn btn-sm btn-outline-info') %>	
  	<% end %>
  </h2> 
</div>
<div class="row">
  <div class="col-md-9">
    <!-- post form -->
	 <%= form_with(path: sub_reddit_posts_path(sub_reddit_id: @sub_reddit.id),validation:true,class:'p-3') do |f| %>
  <div class="form-group">
        <%= f.label :title %><br />
        <div class="control">
          <%= f.text_field :title, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>
  </div>
  <div class="form-group">
      <%= f.label :content %><br />
      <%= f.text_area :content,rows:3,class:'form-control' %>
  </div>
  <%= f.submit "Post",class:"btn btn-outline-primary"  %>
<% end %>
  <!-- posts list -->
  <div>
      <% @sub_reddit.posts.each do |post| %>
        <%= render partial:'shared/posts/post_card', locals: {post:post,top:false} %>
      <% end %>
  </div>


  </div>
  <!-- post details -->
  
  <div class="col-md-3 pl-0 pr-0">
    <div class="card">
  <div class="card-header">
    About This Community
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text"> <%= @sub_reddit.description %> </p>
    <div class="row mt-2 mb-2">
      <div class="col-md-4">
        <div class="text-muted" style="font-size: 0.70rem; font-weight: bold; text-align: center;">
          <i class="fas fa-users"></i>
          <div>
          MEMBERS  
          </div>
          
        </div>
        <div style="text-align: center;">
          <%= @sub_reddit.members.size %>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="seperator">
          <div class="text-muted" style="font-size: 0.70rem; font-weight: bold; text-align: center;">
             <i class="fas fa-list-alt"></i>
             <div>POSTS</div>
               
          </div>
          <div style="text-align: center;">
            <%= @sub_reddit.posts.size %>
          </div>
                  
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="text-muted" style="font-size: 0.70rem; font-weight: bold; text-align: center;">
          <i class="far fa-comment-alt"></i>
          COMMENTS
        </div>
        <div style="text-align: center;">
          <%= @sub_reddit.comments_count %>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
 
</div>
