<nav class="navbar is-light navbar-mod" role="navigation" aria-label="main navigation">
  
  <div class="navbar-brand">
    <a class="navbar-item" href=<%=root_url%> >
      <%= image_tag("reddit.png", :alt => "logo") %>
    </a>

    <!-- Mobile navbar -->
    <a role="button" id="burger" class="navbar-burger burger" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>


  <div id="navMenu" class="navbar-menu">
    
    <% if user_signed_in? %>
    <div class="navbar-end">

        <% if current_user.picture.attached? %>
        <a href=<%=edit_user_registration_url %> >
      <%= image_tag current_user.picture ,class:"nav-user-icon"%>
      </a>
    <% end %>

    <%= link_to current_user.full_name, edit_user_registration_path, class:"navbar-item" %>
    <%= link_to "Create a SubReddit", new_sub_reddit_path,class:"navbar-item" %>
    <%= link_to "Sign out", destroy_user_session_path,method:"DELETE",class:"navbar-item" %>
     
    </div>
    <% else %>
     <div class="navbar-start">
      
      <div class="navbar-item">
      <%= link_to static_pages_wellcome_path do %>
      <span>
       <i class="fas fa-home"></i> &nbsp;
        Home
      </span>
      <% end %>      
      </div>
      <div class="navbar-item"> 
      <%= link_to static_pages_about_path do %>
      <span>
        <i class="fas fa-question-circle"></i>  &nbsp;
        About
       </span>
      <% end %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <%= link_to  new_user_session_path do %>
          <span class="button is-primary"> 
              Sign in &nbsp;
            <i class="fas fa-sign-in-alt"></i>
          </span>
        <% end %>
        &nbsp; &nbsp; 
        <%= link_to   new_user_registration_path do %>

          <span class="button is-light">
          Sign up &nbsp;
          <i class="fas fa-user-plus"></i>
          </span>
        <% end %>
        </div>
      </div>
    </div>
      
    <% end %>
    
  </div>
</nav>