<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;" >
  
    <a class="navbar-brand" href=<%= static_pages_wellcome_path %> >
      <%= image_tag("reddit.png", :alt => "logo", :width => '30', :height => '30', :class => 'd-inline-block align-top') %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <% if user_signed_in? %>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle subredit-dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-home"></i> Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropdown-header" href="#"><i class="fas fa-home"></i> Home</a>
          <a class="dropdown-item" href="#">SubReddit </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">SubReddit </a>
          <a class="dropdown-item" href="#">SubReddit </a>
          <a class="dropdown-item" href="#">SubReddit </a>
          <a class="dropdown-item" href="#">SubReddit </a>

        </div>
      </li>
  </ul>

    
    <form class="form-inline mr-auto w-50">
      <input class="form-control mr-sm-2 w-100 p-3" type="search" placeholder="Search" aria-label="Search">
    </form>

    <ul class="navbar-nav">
      <% if current_user.picture.attached? %>
      <li class="nav-item dropdown">
         <a href=<%=edit_user_registration_url %> class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
           <%= image_tag current_user.picture ,class:"nav-user-icon"%>
           <%= current_user.full_name %>
         </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to edit_user_registration_path, class:"dropdown-item" do  %>
           <i class="fas fa-user-circle"></i> Profile 
          <% end %>
          <%= link_to new_sub_reddit_path,class:"dropdown-item" do %>
          <i class="fab fa-reddit-alien"></i> Create a SubReddit
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path,method:"DELETE",class:"dropdown-item" do %>
          <i class="fas fa-sign-out-alt"></i> Sign Out
          <% end %>
        </div>
      </li>

       <% end %>
    </ul>

  <% else %>
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to static_pages_wellcome_path, class:'nav-link' do  %>
        <span>
       <i class="fas fa-home"></i> 
        Home
      </span>
      <% end %>
      </li>
      <li class="nav-item">

        <%= link_to static_pages_about_path, class:'nav-link' do %>
      <span>
        <i class="fas fa-question-circle"></i>  &nbsp;
        About
       </span>
      <% end %>
      </li>
    </ul>

    <ul class="navbar-nav"> 
      <li class="navbar-item">
         <%= link_to new_user_session_path, class:'btn btn-outline-info' do %>
              Sign in
            <i class="fas fa-sign-in-alt"></i>
        <% end %>
      </li>
      &nbsp;&nbsp;
      <li class="navbar-item">
        <%= link_to new_user_registration_path, class:'btn btn-secondary' do %>
        Sign up
          <i class="fas fa-user-plus"></i>
          
        <% end %>
      </li>
    </ul>
  <% end %>

 
  </div>
</nav>