<div class="card m-1">
  <div class="card-body">
      <% if top %>
    
    <%= image_tag(post.sub_reddit.background_picture,
       class:'sub-reddit-icon') %> 
    <span class="card-subtitle mb-2 text-muted"> 
      <%= link_to('r/'+post.sub_reddit.title, 
      sub_reddit_path(post.sub_reddit.id),class:'text-muted top-text') %> 
    </span>
     <% else %>
     <%= link_to(users_profile_path(post.user.id),style:'text-decoration: none') do  %>
    <%= image_tag(post.user.picture,
       class:'sub-reddit-icon') %>
       <% end %> 
  <% end %>  

	<span class=" text-muted top-text">
		Posted by <%= link_to(post.user.full_name,users_profile_path(post.user.id), class:'text-muted top-text')  %>
	</span>
	<span class="text-muted top-text">
		<%= time_ago_in_words(post.created_at)+' ago' %>
	</span>
    <h5 class="card-title mt-2">
    <%= link_to(post.title,sub_reddit_post_path(
      sub_reddit_id: post.sub_reddit.id,
      id: post.id) , class:'link-mod') %> 
    </h5>  
    <p class="card-text"> <%= post.content %> </p>
  </div>
  <div class="card-footer p-1 footer-mod" style="padding-left: 1.25rem !important;">

    <div class="text-muted text-bottom">
      
      <%= 
      link_to sub_reddit_post_path(
      sub_reddit_id: post.sub_reddit.id,
      id: post.id),class:'text-muted' do  %> 
      <i class="far fa-comment-alt"></i> 
      <%= count_format(post.comments.count)  %> Comments</div>
      <% end %>
  </div>
</div>